/* General styling */

div {
    padding: 20px;
    display: flex;
}

h1 {
    margin-top: 30px;
    margin-bottom: 60px;
}

p{
    margin: 0;
    padding-left: 10px;
    font-size: 4em;
}

.headerBox {
    display: flex;
    background-color: #0759f1;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 0px;
}

.headerText {

    align-items: center;
    justify-content: center;

}

.progress1, .progress2, .progress3 {
    border-radius: 20px;
    padding: 5px 60px 5px 60px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: flex; /* Ensure flexbox centering for content inside progress divs */
}

.progress1 h1, .progress2 h1, .progress3 h1 {
    opacity: 1;
    font-size: 5rem;
    margin: 0px;
}

/* Different background colors for progress stages */
.progressDone {
    background-color: rgba(0, 255, 38, 0.5); /* Semi-transparent green */
}

.progressToDo {
    background-color: rgba(182, 0, 0, 0.5); /* Semi-transparent red */
}

/* Content styling */
.content {
    width: 100%;
    display: flex; /* Ensure flexbox layout for centering */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Optional: Center elements vertically */
}

input {
    border: none;
    background-color: hsl(0, 0%, 97%);
    box-shadow: 0px 0px 2px 1px rgb(63, 63, 63);
    height: 30px;
    width: 400px;
    border-radius: 13px;
    padding: 10px;
}

.buttonWImage{
    display: inline-flex;
    border: solid;
    border-width: 1px;
    border-color: rgb(136, 136, 136);
    border-radius: 8px;
}

.buttonimage{
    width: 2vh;
    height: auto;

}

.cards {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    gap: 15px;
}

.card{
    border: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: rgb(85, 85, 85);
    box-shadow: 0px 0px 10px 1px rgb(172, 172, 172);
    align-items: center;
    padding: 5px 10px 5px 10px;
}

.userPreferencesArea {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px; /* Adjust the gap as needed */
    padding: 0;
    margin: 2px;
}

.preference {
    bottom: 0;
    left: 0;
    border: solid;
    padding: 4px 10px 4px 10px;
    margin: 2px;
    border-radius: 4px;
    border-width: 2px;
    font-size: 20px;
}

.domain, .isAvailable, .payment {
    padding-top: 8px;
    padding-bottom: 8px;

}

.NextPage {
    margin: 10px 2px;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: #007AFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.NextPage:hover {
    background-color: #1c8aff;
}

.NextPage:active {
    background-color: rgb(15, 74, 185);
    box-shadow: 0px 0px 10px 1px black;
}
